@model IEnumerable<PlaylistManager.Models.Playlist>

@{
    ViewBag.Title = "Index";
}
<hr />
<h3>
    @Html.ActionLink("Create New", "Create")
</h3>
<table class="table text-center">
    <tr style="text-align: justify; position: relative; right: 10em; left: 0em;" class="text-center">
        <th style="text-align: center">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="text-align: center">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
