@model PlaylistManager.Models.Song

@{
    ViewBag.Title = "Delete";
}

<h3 style="font-family: 'Agency FB'">Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="form-horizontal text-center">
        <dt style="padding: 10px;">
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd style="padding: 10px;">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt style="padding: 10px;">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>

        <dd style="padding: 10px;">
            @Html.DisplayFor(model => model.Artist)
        </dd>

        <dt style="padding: 10px;">
            @Html.DisplayNameFor(model => model.YearReleased)
        </dt>

        <dd style="padding: 10px;">
            @Html.DisplayFor(model => model.YearReleased)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
