@model IEnumerable<PlaylistManager.Models.Song>

@{
    ViewBag.Title = "Index";
}

<h3>
    @Html.ActionLink("Create New", "Create")
</h3>
<table class="table">
    <tr class="text-center" style="text-align: justify; position: relative; right: 10em; left: 0em;">
        <th style="text-align: center">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th style="text-align: center">
            @Html.DisplayNameFor(model => model.Artist)
        </th>
        <th style="text-align: center">
            @Html.DisplayNameFor(model => model.YearReleased)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearReleased)
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
