<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Playlist Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                @{
                    if (PlaylistManager.Services.AuthenticationManager.LoggedUser.IsAdmin)
                    {
                        <li>@Html.ActionLink("Users", "Index", "Users")</li>
                        <li>@Html.ActionLink("Songs", "Index", "Songs")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("My playlists", "Index", "Playlists")</li>
                    }
                    <li>@Html.ActionLink("Log out", "Logout", "Account")</li>
                }
            </ul>
        </div>
    </div>
</div>
